.body {
    margin: 3em;
}

.app-navbar {
    background-color: black !important;
}

.links {
    margin-left: 1em;
    display: flex;
    flex-direction: row;
}

.navbar-link {
    text-decoration: none;
    color: inherit;
    margin-left: 1em;
    margin-right: 1em;
}

.pg-container {
    margin: 3em;
}

.pg-container .button-grp {
    margin-top: 3em;
}

.pg-details {
    margin-top: 3em;
}

.form-control {
    width: 100%;
}

.wh-container {
    margin: 3em;
}

.wh-table {
    margin-top: 3em;
}

.weather-search-btn {
    margin-top: 3em;
    text-align: center;
}

.playgrounds-search-btn {
    margin-top: 3em;
    text-align: center;
}

.pg-table {
    margin: 3em;
}

.g-map-container {
    margin: 1em;
    height: 80vh;
    width: 100%;
}